head
	meta(charset='UTF-8')
	title == Distortion test ==
	
	//- link(rel='stylesheet' href='style.css')
	script(type='text/javascript' src='https://unpkg.com/acorn')
	script(type='text/javascript' src='paper-fast-export.js')
	//- script(type='text/javascript' src='misc/CCapture.all.min.js')
	style.
		canvas[resize] {
		width: 100%;
		height: 100%;
		}

body

	button#export-button Export
	
	canvas#canvas(resize='')

	//-script(type='text/javascript' src="https://cdn.jsdelivr.net/gh/kchapelier/poisson-disk-sampling@2.3.1/build/poisson-disk-sampling.min.js")
	script(type='text/javascript' src='FileSaver.js')
	<script src="https://unpkg.com/delaunator@5.0.0/delaunator.min.js"></script>
	//- script(type='text/javascript' src='misc/utility-chat.js')
	script(type='text/javascript' src='vdistort.js')
	script(type='text/paperscript' canvas='canvas' src='test.js')
	//- script(type='text/javascript' src='misc/Tool-UI/tool-ui.js')